
#container {
  border: 1px solid;
  width: 30%;
  margin: 30px auto;
  padding: 10px;
  align-self: center;
}
#formTag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  background: #09ed2f;
  /* display: none; */
}
#book_form_style {
  border: 1px solid;
  margin: 10px;
  display: none;
}
#bookList{
  border: 1px solid;
  margin: 10px;
  display: none;
  /* background: #000;  */
}
.bookNameInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  height: 20px;
}
#bookName_input {
  border-radius: 4px;
}
.btn {
  text-align: center;
  margin: 0px auto;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
}
#Book_detail_Container {
  border: 1px solid;
  margin: 10x;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bookListHeader{
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(241, 236, 236);
}
#bookListHeading{
  display: flex;
  justify-content: center;
  align-items: center;
}
#listIcon{
  position: relative;
  justify-self: start;;
  background: #000;
}
.description{
  display: none;
}
#dlt{
  width: 100%;
  text-align: right;
}
.delet_btn{
  color: red;
}